/* Place your CSS styles in this file */

h1 {
    text-align: left;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}

p {
    text-align: left;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}

a {
    text-align: left;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}

h2 {
    text-align: left;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}

h3 {
    text-align: left;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}

h4 {
    text-align: left;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}

hyvor-talk-comments {
    text-align: left;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}

h5 {
    text-align: left;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}
